#storeButton, #tower, #rune_true, #demon, #poolYes, #fieldButton, #mapButton, #batteryButton, #inventory, #reflectingPool, #field, #store, #map {
	display: none;
}

.wrapper {
	max-width: 90%;
	margin: 0 auto;
}

#storewrapper {
	display: inline;
}

#error {
	color: red;
	font-size: 26px;
	height: 30px;
}

#store p {
	font-size: 20px;
}

#store_status {
	float: right;
}

p {
	font-size: 18px;
	margin: 10px;
}

button {
	border: 1px solid black;
	font-size: 16px;
}

button:active {
	background-color: grey;
	color: white;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	background-color: black;
}