#storeButton, #confess, #camp_use, #steal_items, #man, #man_text, #quest, #camp_ground, #churchInside, #train2, #iron_sword, #trainStation, #trainShow, #shop_keeper_blink, #factory2, #house2, #demon, #mountain,  #rune_true, #tower, #poolYes, #fieldButton, #mapButton, #batteryButton, #inventory, #reflectingPool, #field, #store, #map {
	display: none;
}

#shop_keeper, #shop_keeper_blink {
	float: right;
	max-width: 500px;
	margin-right: 10%;	
}

#hp {
	background-color: green;
	text-align: center;
	border: 1px solid #21A652;
}
#camp_ground {
	max-width: 900px;
}
#man {
	float:right;
	margin-top: -300px;
}
#man_text {
	float: right;
	margin-top: -350px;
	margin-right: 120px;
}
#tent{
	position: absolute;
}
#quest p{
	display: inline;
}
#player_stats {
	width: 300px;
}
#monster_stats {
	width: 300px;
}

#station {
	float: right;
	margin-top: -200px;
	width: 400px;
}
#fountain {
	margin-left: 350px;
	margin-top: 150px;
}
#mount {
	width: 300px;

}
#demon1 {
	margin-left: 100px;
}

#inventoryButton {
	float: right;
}

#ectoplasmDiv {
	height: 100px;
	border: 1px solid white;
	margin-top: -10px;
	padding-bottom: 10px;
	
}
#factory, #factory2 {
	max-width: 325px;
	float: right;
	margin-top: 10%;
}



#house2, #house1 {
	width: 350px;
	float: left;
	margin-top: 10%
}
#church {
	width: 200px;
	position: absolute;
	margin-left: 37%;
}

.wrapper {
	max-width: 95%;
	margin: 0 auto;
}

 #store_status{
 	font-size: 16px;
 	height: 30px;
 }

#storeWrapper {
	max-width: 200px;
	float: left;
}

#error {
	color: red;
	font-size: 20px;
	height: 30px;
	text-align: center;
}

#store p {
	font-size: 20px;
}

#store_status {
	float: right;
}

p {
	font-size: 18px;
	margin: 10px;
}

button {
	border: 1px solid black;
	font-size: 16px;
}

button:active {
	background-color: grey;
	color: white;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	background-color: black;
}

